.navigation {
  background: #fdfdfd;
  border-bottom: 0.1rem solid #d1d1d1;
  display: block;
  height: 5.2rem;
  left: 0;
  max-width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.title {
  color: #606c76 !important;
  display: inline;
  font-size: 1.6rem;
  line-height: 5.2rem;
  padding: 0;
  text-decoration: none;
  position: relative;
}

.wrapper {
  padding-top: 5rem;
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.content {
  padding-top: 3rem;
}

.ft {
  margin-top: 10rem;
  padding-top: 3rem;
  border-top: 0.1rem solid #d1d1d1;
}

a {
  color: #0366d6 !important;
}

pre {
  border-left: 0.3rem solid #0366d6 !important;
}

button {
  background-color: #0366d6 !important;
  border: 0.1rem solid #0366d6 !important;
}
